<style>
    .container1 {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }

    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

@{
    ViewData["Title"] = "Welcome To Thunder Coffee";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 xminh" id="">
            <h4>SUSTAINABLE QUALITY</h4>
            <div class="container1">
                <iframe src="https://www.youtube.com/embed/stGRm-VN6Yw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="video"></iframe>
            </div>
            <p>
                <br />
                With the launch of a limited edition, we follow the trail of quality and then we engage.

                At the core of the AAA Academy is the desire to equip farmers with today’s best agricultural practices to increase farm level productivity and resilience.
            </p>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 xminh" id="">
            <h4>7 WAYS ENSURES COFFEE CAPSULES</h4>
            <img class="img-responsive" src="~/images/ThCoffee.jpg" />
            <br />
            <p>
                The planet’s a precious place. To do our small part to protect it, we’re busy providing practical ways of recycling for our consumers around the world.
                <br />
                We started with just one program in Switzerland 25 years ago, and now there are our recycling initiatives in 39 countries and more than 14,000 collection points worldwide.
                <br />
                Want to find your nearest recycling scheme? Check out a few of our initiatives around the globe:
            </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 xminh" id="">
            <center><img class="img-responsive" src="~/images/rosting.jpg" /></center>
            <center><h4>ROASTING</h4></center>
            <br />
            <p>
                Someone stands by that roaster, all day, a person who knows exactly how to bring the best out of every bean — that ideal ratio of sweetness to acidity, that balance — because he or she has been doing this for years.

                Again and again, they repeat the same motion: pull a tiny sample of the beans. Stare at them, looking for the tiny signs of perfection. Smell them deeply. Put them back. Pull out some more beans. Stare. Smell. Five seconds later, repeat the process in a meditation that last hours. Do that hundreds of times a day. Do that every day for years.

                Know every bean on a personal level. Adjust times and temperatures throughout the day, knowing that 15 seconds could make the difference between letting this bean shine and overwhelming it. Know that in the morning, the roaster is cold. Know that in the evening it’s hot, and you should probably shave 45 seconds off that roast.

                Roast just enough to bring out the best and full potential of what’s inherent in each particular coffee already. Roast to draw out things like acidity, floral notes, chocolate, molasses, and earth. All of the coffee’s flavor potentials are presented at the first crack – an audible signal that happens at a particular point when roasting coffee. After that, roast just enough to add the right amount of body and sweetness, without degradation.

                Roasting different coffees as though they’re the same? Not going to work. Roasting for color, not taste? Never this.

                Please don’t burn those beans. They’ve been through so much. They’ve come all the way across the world.
            </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 xminh" id="">
            <center><img class="img-responsive" src="~/images/producing.jpg" /></center>
            <center><h4>PROCESSING</h4></center>
            <br />
            <p>
                We don’t call them farmers, we call them producers, which gives credit to the fact that they are production experts. They are the ones who make this coffee great. They are the ones who are like-minded, who go the extra mile for quality.
            </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 xminh" id="">
            <center><img class="img-responsive" src="~/images/variety.jpg" /></center>
            <center><h4>VARIETIES</h4></center>
            <br />
            <p>
                There isn’t one kind of coffee, there’s a coffee family tree. For hundreds of years, humans have been cultivating, hybridizing and perfecting it, and today there are hundreds of types, or varieties.

                The variety of coffee tree matters—or at least, it usually does. Just as different types of grapes yield different wines, the variety of the bean can have a profound impact on the finished cup.  
                There are hundreds of varieties, and we’ve chosen roughly a dozen that we find truly special. But here are the first ones you should know.
            </p>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 xminh" id="">
            <center><img class="img-responsive" src="~/images/sourcing.jpg" /></center>
            <center><h4>SOURCING</h4></center>
            <br />
            <p>
                The best coffee grows in the most remote places. There is a thin band that goes around the world near the equator. Within that band, you need mountains, thick old-growth forest and just the right microclimate. Set aside up to four days to get there.
            </p>
        </div>

    </div>
</div>

